.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/GB/FileContentIndex/e3c7ab65-5ae7-41ac-8e73-6856e80f7588.vsidx
.vs/GB/FileContentIndex/read.lock
.vs/GB/v17/.suo
Lesson 8/__pycache__/bot_commands.cpython-310.pyc
Python. Ведение/Python. Семинар 9/calculator/token.txt
Python. Ведение/Python. Семинар 9/tic-tac-toe/token.txt
Python. Ведение/Python. Семинар 10/token.txt
